div {
	padding: 20px;
}

#categorylist ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#categorylist, #contentbody {
	float: left;
}

#addnewrecord, .record-category {
	float: right;
}

.record-category {
	padding-left: 100px;
}

.float-clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.record-list-item,
.record-heading, 
.record-content,
.record-controls {
	padding: 5px;
}

#logo {
	width: 80px;
	margin-bottom: 20px;
}

#contentbody {
	min-width: 600px;
}
